header {
    display: flex;
    justify-content: center;
    background-color: #FFCC99;
    box-shadow: 4px 4px 4px 4px;
}

main {
    background-color: #E6F2FF;
}

main h2 {
    margin: 20px;
}

main section {
    display: flex;
    flex: 3;
}

aside {
    background-color: #B3D9FF;
    display: flex;
    flex: 1;
}

aside p {
    border: 1px;
    border-color: #ccc;
}

footer {
    background-color: #99CC99;
    box-shadow: 4px 4px 4px 4px;
}

footer p {
    border: 1px;
    border-color: #ccc;
}